@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$theme-colors: (
  "primary":    $purple-900,
  "secondary":  $gray-600,
  "tertiary":   $black,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: $gray-900;
  background-image: var(--bs-gradient);}


